<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
        <div>
    		<br/>
    		<h2>Cloud Services</h2>
    		<p><b>MYSQL SYSDATE:</b></p>
    		<p th:text="${mysql_date}">MYSQL SYSDATE</p>
    		
    		<p><b>MYSQL URL:</b></p>
    		<p th:text="${mysql_url}">MYSQL URL</p>
    		
      		<p><b>MONGODB:</b></p>
    		<p th:text="${mongo_dbs}">MYSQL URL</p>
        </div>

	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</div>
</body>
</html>
